<p style="color: green"><%= notice %></p>
 
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Completed</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  
    
      <% @lists.each do |list| %>       
        
        <% if list.completed %>

        <tr class="table-secondary">
          <td>
            <%= list.description %>
          </td>
          <td>   
            <%= link_to "Show this list", list %>
          </td>
        </tr>

        <% else %>

        <tr class="table-secondary">
        <td>
          <%= list.description %>
        </td>
        <td>   
          <%= link_to "Show this list", list %>
        </td>
      </tr>

        <% end %>

      <% end %>
     
  </tbody>


</table>



<%= link_to "New list", new_list_path %>
